# ======================= #
# Visual Studio generated #
# ======================= #
/LingIO/bin/
/LingIO/obj/
/.vs/
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.consulo/
*.tmp
*.pdb

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db*
Thumbs.db*
*.PSD
